<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div style="margin-top: 100px;">
            <img src="images/carros.png" alt="Imagen" class="img-fluid" style="width: 40%; height: 600px;">

            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-7" style="text-align: center; margin-top: -550px;">
                        <h1 style="font-weight: bold; font-size: 26px;">Solicitud de Citas para Servicio de Carros</h1>
                    </div>
                </div>

                <form th:action="@{/solicitar_carro}" method="post">
                    <div class="row justify-content-end" style="margin-left: 7cm; margin-right: -0.5cm; margin-top: -12cm;">
                        <div class="col-8">
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="marca" class="form-control" placeholder="Marca del Auto" required>
                                </div>
                                <div class="col">
                                    <input type="text" name="modelo" class="form-control" placeholder="Modelo" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 1.3cm;">
                                <div class="col">
                                    <input type="text" name="año" class="form-control" placeholder="Año" required>
                                </div>
                                <div class="col">
                                    <input type="text" name="placa" class="form-control" placeholder="Placa" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 1.3cm;">
                                <label for="fechaHora">Fecha y hora:</label>
                                <input type="datetime-local" id="fechaHora" name="fechaHora" required>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end" style="margin-left: 16.3cm; margin-right: 0; margin-top: 0.5cm;">
                        <div class="mb-4">
                            <input type="tel" name="telefono_contacto" class="form-control" placeholder="Teléfono de Contacto" required>
                        </div>
                        <div class="mb-4">
                            <textarea name="motivo" class="form-control" placeholder="Motivo de la Cita" rows="3" required></textarea><br><br>
                        </div>

                        <button type="submit" class="btn" style="background-color: #bf8d7a; color: white; width: 200px; margin-left: 6cm; margin-right: 0;">
                            Enviar
                        </button>
                    </div>
                </form>

                <div style="text-align: center; margin-top: 20px;">
                    <a th:if="${param.success}" href="/citas_programadas_carro" class="btn btn-info">Ver Citas Programadas</a>
                </div>
            </div>
        </div>

        <footer style="background-color: #2f4073; color: white; padding: 30px 0; width: 100%; position: relative;">
            <div class="container">
                <p style="font-weight: bold; text-align: left; margin-left: 20px;">©SmartDealerCrm+ Company, 2025</p>
            </div>
        </footer>

    </body>
</html>

